<?xml version="1.0" encoding="utf-8" ?>
<definitions>
    <define var="nombre_news" value="5" />
    <define var="nombre_caracteres" value="350" />
    <define var="nombre_comm_profil" value="5"/>
    <define var="taille_photo" value="2000000"/>
    <define var="chemin_miniature" value="./img/img_utilisateur/miniature/"/>
    <define var="chemin_photo" value="./img/img_utilisateur/taille_normal/"/>
    <define var="nombrePhoto" value="24"/>
</definitions>